<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap-slider.min.css">
    <link rel="stylesheet" href="../css/options.css">

</head>
<body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">
          <div class="inner cover">
            <h1 class="cover-heading">TurnDatShitDown</h1>
            <input id="volumeSlider" type="text" />
            <p class="lead">
                TurnDownDatShit is a Google Chrome extension aimed for people that hate
                getting blasted with 100% volume every time they click on a video on Facebook.
            </p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-secondary">Version 1</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>TurnDownDatShit is for <a href="http://facebook.com">Facebook</a>, coded by <a href="#">Robert Hansen & Steffen Nielsen</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- jQuery first, then Bootstrap JS. -->
    <script src="../js/jquery.2.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/bootstrap-slider.min.js"></script>
    <script src="../js/options.js"></script>
    
</body>
</html>